<div class="col-md-12">
	<div>
	<!-- TODO: add charName, wingName, squadName columns-->
	<h2 class="pull-right">
		<button class="btn btn-success" ng-click="fc.refreshFleetInfo()" ng-class="{'disabled':fc.working}">
			<span ng-hide="fc.working">Refresh Fleet Info</span>
			<span ng-show="fc.working">Loading...</span>
		</button>
	</h2>
	<p>Select as many or as few boxes as desired.</p>
	<p>Design insight: It's difficult to get pilot-specific info here like sec status/zkb links/leadership skills for performance reasons (no way to aggregate the calls). If you think this is important I'll build a Pilot Info view that opens a new tab or make a subset of calls</p>

	<row>
	<div class="btn-group">
		<label class="btn btn-primary" ng-model="agg.boxes.shipBox" uib-btn-checkbox>Ship Type</label>
		<label class="btn btn-primary" ng-model="agg.boxes.shipgroupBox" uib-btn-checkbox>Ship Group</label>
	</div>

	<div class="btn-group">
		<label class="btn btn-primary" ng-model="agg.boxes.systemBox" uib-btn-checkbox>System</label>
		<label class="btn btn-primary" ng-model="agg.boxes.constelBox" uib-btn-checkbox>Constellation</label>
		<label class="btn btn-primary" ng-model="agg.boxes.regionBox" uib-btn-checkbox>Region</label>
	</div>

	<div class="btn-group">
		<label class="btn btn-primary" ng-model="agg.boxes.fleetwarpBox" uib-btn-checkbox>Takes Fleet Warp</label>
	</div>
	<div class="btn-group">
		<label class="btn btn-primary" ng-model="agg.boxes.boosterBox" uib-btn-checkbox>Booster Type</label>
	</div>
	<div class="btn-group">
		<label class="btn btn-primary" ng-model="agg.boxes.roleBox" uib-btn-checkbox>Role Type</label>
	</div>

	<!-- <h4>Debug <small>{{agg.aggregates.groups}}</small> </h4> -->
	<!-- <p>{{agg.aggregates}}</p> -->
	<!-- <p>Sort on: {{agg.sortType}}, Reversed?: {{agg.sortReverse}}</p>-->
	</row>

	<table class="table table-striped table-hover">
		<tr>
			<th>
				<div sortable-col-header sort-type="agg.sortType" sort-reverse="agg.sortReverse" on-what="chars.length">
				# Pilots</div>
			</th>
			<th ng-if="agg.boxes.shipBox">
				<div sortable-col-header sort-type="agg.sortType" sort-reverse="agg.sortReverse" on-what="shipType">
				Ship Type</div>
			</th>
			<th ng-if="agg.boxes.shipgroupBox">
				<div sortable-col-header sort-type="agg.sortType" sort-reverse="agg.sortReverse" on-what="shipGroup">
				Ship Group</div>
			</th>
			<th ng-if="agg.boxes.systemBox">
				<div sortable-col-header sort-type="agg.sortType" sort-reverse="agg.sortReverse" on-what="system">
				System</div>
			</th>
			<th ng-if="agg.boxes.constelBox">
				<div sortable-col-header sort-type="agg.sortType" sort-reverse="agg.sortReverse" on-what="constellation">
				Constellation</div>
			</th>
			<th ng-if="agg.boxes.regionBox">
				<div sortable-col-header sort-type="agg.sortType" sort-reverse="agg.sortReverse" on-what="region">
				Region</div>
			</th>
			<th ng-if="agg.boxes.fleetwarpBox">
				<div sortable-col-header sort-type="agg.sortType" sort-reverse="agg.sortReverse" on-what="fleetwarp">
				Fleet Warps</div>
			</th>
			<th ng-if="agg.boxes.boosterBox">
				<div sortable-col-header sort-type="agg.sortType" sort-reverse="agg.sortReverse" on-what="boosterName">
				Booster Type</div>
			</th>
			<th ng-if="agg.boxes.roleBox">
				<div sortable-col-header sort-type="agg.sortType" sort-reverse="agg.sortReverse" on-what="roleName">
				Role Type</div>
			</th>
		</tr>
		<tr ng-repeat="group in agg.aggregates.groups | orderBy:agg.sortType:agg.sortReverse">
			<td>{{group.chars.length}}</td> <!-- TODO: uib tooltip with all the names in that array -->
			<td ng-if="agg.boxes.shipBox">{{group.shipType}}</td>
			<td ng-if="agg.boxes.shipgroupBox">{{group.shipGroup}}</td>
			<td ng-if="agg.boxes.systemBox">{{group.system}}</td>
			<td ng-if="agg.boxes.constelBox">{{group.constellation}}</td>
			<td ng-if="agg.boxes.regionBox">{{group.region}}</td>
			<td ng-if="agg.boxes.fleetwarpBox">{{group.fleetwarp}}</td>
			<td ng-if="agg.boxes.boosterBox">{{group.boosterName}}</td>
			<td ng-if="agg.boxes.roleBox">{{group.roleName}}</td>
		</tr>
	</table>
	</div>
</div>