<div class="col-md-12">
	<h2>Individual.html</h2>
	<p>This shows details about individual pilots. It is both sortable and filterable</p>
	<p>Data is subject to the <a ng-click="alert('lol')">Universal Disclaimer</a>
	<input type="text" ng-model="ind.search">
	<!-- Portrait, name, ship type, ship group, system, constellation, region, station, takesFleetWarp, wingName, squadName, boosterName, roleName, joinTime (how long ago?) -->
	<!-- Too much. Also I currently lack wing and squad names-->
	<!-- Also dropdowns on everything in case users need to be moved. Speedbumps? -->
	<!-- Add corpName and allianceName from the xml api, it's just one more call -->

	
</div>