<div class="col-md-12">
	<!-- For successful setups -->
	<h2 class="pull-right">
		<button class="btn btn-success" ng-click="fc.refreshFleetInfo()" ng-class="{'disabled':fc.working}">
			<span ng-hide="fc.working">Refresh Fleet Info</span>
			<span ng-show="fc.working">Loading...</span>
		</button>
	</h2>

	<h2>SSO Probably Successful</h2>
	<p>This is an Alpha build. Bugs are present and features are missing. Only with your help can that be fixed.</p>
	<div>
		<img src="https://image.eveonline.com/Character/95095202_32.png"> Kurt Midas
	</div>
	<a href="https://github.com/Kurt-Midas/GateIsGreen/issues" target="_blank">Github Issues Reporter</a>
	<p>I'll probably have a twitter account soon</p>
	<div class="col-md-6">
		<h3>Basic Guide</h3>
		<ol>
			<li>Do what you want, you're a pirate</li>
			<li>On refresh, data may be up to 30 seconds out of date. I cannot control this.</li>
			<li>Your fleet link may stop working at any time without warning or explanation</li>
		</ol>
	</div>
	<div class="col-md-6">
		<h3>Security:</h3>
		<p>
			<b>DO NOT USE THIS FOR ANYTHING IMPORTANT</b>
		</p>
		<ul>
			<li>If you share the fleet link (or someone guesses it) they'll have full access</li>
			<li>You just gave a stranger (me) complete read and write access to your active fleet.</li>
		</ul>
		<p>Remove this access by disbanding the fleet, changing the fleet boss, or using the Eve support site to remove the app's permissions</p>
	</div>
</div>