<div class="col-md-12">
	<!-- For successful setups -->
	<div ng-show="true">
		<h2>Handshake Successful</h2>
		<p>This is an Alpha build. By reporting any and all bugs / feature requests you're helping me make it to Beta</p>
		<p>This is worth repeating: I cannot guarantee security</p>
		<p>
			<b>DO NOT USE THIS FOR ANYTHING IMPORTANT</b>
		</p>
		<ul>
			<li>Anyone with the link can see your fleet information</li>
			<li>Short of disbanding your fleet or using the eve support site to remove the app's permissions, this access can't currently be removed</li>
			<li>You just gave a stranger (me) complete read and write access to your active fleet. I don't have a way of extracting it but you can't verify that.</li>
		</ul>
		<p>The goal is to test and refine this enough that everyone can deploy their own. For now, I hope you find it useful.</p>
	</div>
</div>